# Book settings
title                       : MulQuaBio  # The title of the book. Will be placed in the left navbar.
author                      : MulQuaBio collective!  # The author of the book
copyright                   : "2024"  # Copyright year to be placed in the footer
logo                        : _static/images/logo.png  # A path to the book logo

repository:
  url: https://github.com/MulQuaBio/MQB

html:
  use_repository_button: true
  use_issues_button: true

launch_buttons:
  notebook_interface: "jupyterlab"
  binderhub_url: "https://mybinder.org"
  colab_url: "https://colab.research.google.com"
  # jupyterhub_url: "your-hub-url"  # Uncomment and set if you have a JupyterHub
  # thebe: true  # Uncomment to enable interactive code blocks without leaving the page


bibtex_bibfiles:
    - references.bib # Path to .bib file(s)
    
sphinx:
  recursive_update: true
  local_extensions:
    mqb_bibstyle: _ext
  config:
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    bibtex_reference_style: author_year  # Optional: citation style (author_year, numeric, etc.)
    bibtex_default_style: mqb_nourl
    myst_heading_anchors: 3
    myst_substitutions:
      static: _static
      graphics: notebooks/graphics
    html_js_files:
      - https://cdn.jsdelivr.net/npm/@iframe-resizer/child@latest # (for VBD Hub) iframe resizer for iframes

parse:
  myst_enable_extensions:
    - amsmath
    - dollarmath
    - html_image
    - linkify
    - colon_fence

execute:
  execute_notebooks: 'off' # toggle between 'off' and auto  to disable or enable execution of jupyter nbs during book building   
  allow_errors: true

exclude_patterns: [ content.md, intro-adv-data.md, code/*, data/*, refs/*, sandbox/*, sols/*, results/*, tools/*, readings/*, lectures/*, notebooks/interactions_alt.ipynb, notebooks/experimental/**, hpc/instructions/**, '**/.virtual_documents/**' ]